.oh-my-zsh/
.ssh/known_hosts
.local/share/nvim/site/autoload/plug.vim
.local/bin/antibody
.local/bin/starship
.zcompdump
.zhistory
.gnupg/trustdb.gpg
.gnupg/pubring.kbx
.gnupg/S.gpg-agent
.vscode-server