[user]
  name = Elliana L. Perry
  email = elliana.perry@gmail.com
  signingkey = 90AB4A0FF0F17A5CAC2AEABAA538A7E3EC07999A
[core]
  editor = vi
  excludesfile = ~/.gitignore
  pager = delta
[color]
  ui = true
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  line-numbers = true
[commit]
  gpgsign = true
[url "https://aur.archlinux.org/"]
  insteadOf = "aur:"
[init]
  defaultBranch = main
[alias]
  stat = status
  st = status
[credential]
	helper = "!f() { /workspace/dotfiles/.vscode-server/bin/7f6ab5485bbc008386c4386d08766667e155244e/node /tmp/vscode-remote-containers-5b27337e82cb839933cc96913eba135b521ce183.js $*; }; f"
