.antigen/.resources
.antigen/.zcompdump
.antigen/.zcompdump.zwc
.antigen/debug.log
.antigen/init.zsh
.antigen/init.zsh.zwc
.antigen/revert-info
.cache/fsh/secondary_theme.zsh
.cache/glances/glances.log
.cache/nvim/log
.cache/pip/
.cache/starship/
.local/
.ssh/known_hosts
.config/zsh/zsh_history
.config/zsh/.zshrc.zwc
.config/gnupg/*
!.config/gnupg/dirmngr.conf
!.config/gnupg/gpg-agent.conf
!.config/gnupg/gpg.conf
.bash_history
.lesshst
.python_history
